### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Xcode
# Xcode user settings
xcuserdata/

# Xcode build artifacts
build/
DerivedData/

# Swift Package Manager
# Package.resolved
.build
.claude/settings.local.json
